/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for trademark section on home page.
 */
// Dependencies
@import "hca-vars";

.trademark {
    margin-bottom: 100px;
    padding: 10px 0 0;
    p {
        font-size: 0.8125rem;
        line-height: 1.188rem;
        margin: 0;
    }
}
