/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for preview detasets area on home page.
 */

// Dependencies
@import "@material/typography/mdc-typography";

.preview-datasets {
    margin-bottom: 60px;
    .caption {
        @include mdc-typography(body1);
        color: $hca-color-text;
        letter-spacing: 0; // Override non-standard MDC letter spacing
        margin-top: 12px;
    }
}
.previews {
    display: flex;
    flex-direction: column;
}
.preview {
    justify-content: space-between;
    border: 1px solid $md-black-12;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 16px;
    text-align: center;
    &:last-child {
        margin-bottom: 0;
    }
    h5 {
        font-size: 22px; /* Non-standard font size */
        font-weight: 500;
        margin: 0 0 4px;
        letter-spacing: 0;
    }
    h6 {
        @include mdc-typography(subheading2);
        color: $hca-color-text;
        letter-spacing: 0;
        margin: 0;
        &.highlight-blue {
            color: #4a90e2;
        }
    }
    p {
        @include mdc-typography(caption);
        letter-spacing: 0;
        font-size: 0.8125rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
    }
}

/**
 * Large tablet, medium +
 */
@media (min-width: $md-tablet-portrait-lg-min) {

    .page-container {
        .previews {
            align-items: stretch;
            flex-direction: row;
            justify-content: space-between;
            min-height: 292px;
        }
        .preview {
            margin-bottom: 0;
            max-width: 210px;
        }
    }
}
