/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Global styles used across components.
 */

// Dependencies
@import "hca-vars";
@import "@material/typography/mdc-typography";

.snapper {
    margin: 0 auto;
    max-width: 1024px;
}

.page-container {
    margin: 0 auto;
    max-width: 820px;
    &.mdc-layout-grid{
        margin-bottom: 100px;
    }
    h2 {
        @include mdc-typography(display1);
        letter-spacing: 0;
    }
    h3 {
        @include mdc-typography(headline);
        font-weight: 500;
        letter-spacing: 0;
        margin-bottom: 12px; /* Warning - off the spec to match static page mocks */
    }
    h4 {
        @include mdc-typography(title);
        font-weight: 400;
        letter-spacing: 0;
        margin-bottom: 10px; /* Warning - off the spec to match static page mocks */
    }
    h5 {
        @include mdc-typography(subheading2);
        letter-spacing: 0;
    }
    h6 {
        @include mdc-typography(subheading1);
        letter-spacing: 0;
    }
    p {
        @include mdc-typography(body1);
        color: $hca-color-text;
        letter-spacing: 0;
    }
}
